Output/
_recovery
_history
DCU
DBDUMP
TEMP
*.exe
*.dcu
*.~*
__history/
*.bak
*.local
*.identcache
*.tvsconfig
*.log
*.map
*.cfg
*.pfx
*.xlsm
.DS_Store
signieren.bat
Thumbs.db                  
CertumSignApp.bat    
_github_push.bat
_github_push_changes.bat           
_push.bat