Output/
_recovery
_history
DCU
DBDUMP
TEMP
*.exe
*.dcu
*.~*
__history/
*.bak
*.local
*.identcache
*.tvsconfig
*.log
*.map
*.cfg
*.pfx
*.xlsm
.DS_Store
git_push.bat
signieren.bat
Thumbs.db
CertumSignApp.bat