WRONGPW RCDATA "wrongpw.WAV"
WHOOSH RCDATA "whoosh.WAV"
BLING RCDATA "bling.WAV"
CLICK RCDATA "click.WAV"
MASPALTE RCDATA "MitarbeiterSpalte.png"
DIENSTEZEILEN RCDATA "DiensteZeilen.png"
DIENSTESPALTEN RCDATA "DiensteSpalten.png"
BEMZEILEN RCDATA "BemerkungenZeilen.png"
BEMSPALTEN RCDATA "BemerkungenSpalten.png"
DIENSTPLAN RCDATA "Dienstplan.png"
SQLITE3DLL64BIT RCDATA "sqlite3.DLL"
SSLEAY32 RCDATA "ssleay32.DLL"
LIBEAY32 RCDATA "libeay32.DLL"